{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "one-var": ["error", "never"],
    "no-console": 0,
    "async-await/space-after-async": 2,
    "async-await/space-after-await": 2,
    "require-jsdoc": 0,
    "arrow-parens": 0,
    "max-len": ["error", 120],
    "comma-dangle": 0,
    "no-case-declarations": 0,
    "object-curly-spacing": [2, "always"],
    "no-invalid-this": 0,
    "new-cap": ["error", { "capIsNew": false }],
    "space-before-function-paren": ["error", {
      "anonymous": "never",
      "named": "never",
      "asyncArrow": "always"
    }]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "classes": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["async-await"],
  "env": {
    "node": true,
    "es6": true,
    "mocha": true
  },
  "settings": {
    "propWrapperFunctions": [ "forbidExtraProps" ]
  },
  "globals": {
    "localStorage": true,
    "document": true,
    "location": true
  }
}
